@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"),
      url("fonts/Roboto-Regular.ttf");
}

@font-face{
  font-family: "PlayfairDisplay Regular";
  src: local("PlayfairDisplay Regular"),
      url("font/PlayfairDisplay-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular", "Arial";
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
